@charset "utf-8";
/* CSS Document */

.mmMenuMain {
	background-color:#3b3e73;
	color:white;
	
	
}
.mmMenuMain a, .mmMenuMain a:active, .mmMenuMain a:visited
{

	border-left: solid 1px #3b3e73;
	border-top: solid 1px #3b3e73;
	border-right: solid 1px #3b3e73;
	
}