@charset "utf-8";
/* CSS Document */

.menuLevel3 {
	width:870px !important;
	width:900px;
	width:870px;
	height:30px;
	float:left;
	overflow:hidden;
	padding:0 15px 0 15px;
	margin:0 0 0 0;
	font-size:11px;
	background-color:#555555;
	color:white;
	
	
}