<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>COCAFOP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<filter>
		<filter-name>CocafopFilter</filter-name>
		<filter-class>vwg.skoda.cocafop.filters.CocafopFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CocafopFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.html</url-pattern>
		<url-pattern>*.htm</url-pattern>
		<url-pattern>/srv/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>QueryServlet</servlet-name>
		<servlet-class>cz.gelion.jpqlw.QueryServlet</servlet-class>
		<init-param>
			<param-name>persistence.unit</param-name>
			<param-value>CocafopService</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet</servlet-name>
		<url-pattern>/query</url-pattern>
	</servlet-mapping>

	<security-role>
		<description>Standardní uživatelé</description>
		<role-name>USERS</role-name>
	</security-role>

	<security-role>
		<description>Administrátor aplikace</description>
		<role-name>ADMINS</role-name>
	</security-role>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>ALL</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>USERS</role-name>
			<role-name>ADMINS</role-name>
		</auth-constraint>
	</security-constraint>

	<resource-ref>
		<description></description>
		<res-ref-name>jdbc/Cocafop</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

	<resource-ref>
		<description></description>
		<res-ref-name>vwg.skoda.cocafop.ldapUrl</res-ref-name>
		<res-type>java.net.URL</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>



</web-app>